@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafc;
}

.h-half {
  height: 50%;
}

.h-500 {
  height: 500px;
}

.w-500 {
  width: 500px;
}

.h-50p {
  height: 50px;
}

.w-50p {
  width: 50px;
}

.h-chat {
  height: 195px;
}

.w-chat-input {
  width: 250px;
}

.h-house {
  height: 250px;
}

.w-house {
  width: 250px;
}