@tailwind base;
@tailwind components;
@tailwind utilities;

.h-half {
  height: 50%;
}

.h-500 {
  height: 500px;
}

.w-500 {
  width: 500px;
}

.h-50p {
  height: 50px;
}

.w-50p {
  width: 50px;
}

.h-chat {
  height: 300px;
}

.w-chat-input {
  width: 350px;
}