@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafc;
}

.h-half {
  height: 50%;
}

.h-500 {
  height: 500px;
}

.w-500 {
  width: 500px;
}

.h-50p {
  height: 50px;
}

.w-50p {
  width: 50px;
}

.h-chat {
  height: 300px;
}

.w-chat-input {
  width: 350px;
}

.h-house {
  height: 250px;
}

.w-house {
  width: 250px;
}

.speech-bubble-right {
  background: #B8D20B;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  max-width: 400px;
  padding: 15px;
  position: relative;
}

.speech-bubble-right p {
  margin: 0 0 10px;
}

.speech-bubble-right p:last-of-type {
  margin-bottom: 0;
}

.speech-bubble-right::after {
  border-left: 20px solid transparent;
  border-top: 20px solid #B8D20B;
  bottom: -20px;
  content: "";
  position: absolute;
  right: 20px;
}

.speech-bubble-left {
  background: #F56C57;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  max-width: 400px;
  padding: 15px;
  position: relative;
}

.speech-bubble-left p {
  margin: 0 0 10px;
}

.speech-bubble-left p:last-of-type {
  margin-bottom: 0;
}

.speech-bubble-left::after {
  border-right: 20px solid transparent;
  border-top: 20px solid #F56C57;
  bottom: -20px;
  content: "";
  position: absolute;
  left: 20px;
}

.clickDIV {
  cursor: pointer;
}